*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    font-family: "Roboto", serif;
}

header{
    width: 1366px;
    height: 200px;
    background-color: #ffffff;
    margin: 0 auto; 
    text-align: center;
}

header img{
    position: relative;
}

nav{
    width: 1366px;
    height: 50px;
    background-color: #000000;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    transition: .8s;
    text-align: center;
}

nav a:hover{
    background-color: #ffffff;
    transform: scale(1.2);
    color: #000000;
}


main{
    width: 1366px;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 20px;
}

h1{
    margin-left: 33px;
    margin-top: 25px;
}

.lenguaje{
    width: 1300px;
    height: 400px;
    background-color: #146C94;
    margin-left: 33px;
    margin-top: 30px;
    display: inline-block;
}

.foto{
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    float: left;
    margin-left: 33px;
    text-align: center;
}

.foto img{
    height: 100%;
}


.texto{
    width: 800px;
    height: 400px;
    background-color: #19A7CE;
    float: left;
    margin-left: 33px;
    padding: 30px;
}

footer{
    width: 1366px;
    height: 150px;
    background-color: #000000;
    margin: 0 auto;
    color: #ffffff;
    font-family: roboto;
    text-align: center;
}
